<div class="container">
    <form #todoForm="ngForm" (ngSubmit)="addTodo(todoForm)">
        <div class="form-group">
            <h1 [class]="'text-center'">ToDo</h1>
            <div [class]="'input-group-prepend'">
                <input type="text" #todo class="form-control" placeholder="Add task" name="todo" ngModel
                       required>
                <button [class]="'btn-floating btn-small waves-effect waves-light green accent-3'" type="submit"
                        [disabled]="!todoForm.valid">
                    <i [class]="'material-icons'">add</i></button>
            </div>
        </div>
        <div class="data" [ngStyle]="{marginTop:'10px'}">
            <ul class="collection">
                <li [class]="'collection-item'" *ngFor="let todo of todoArray">{{todo}}
                    <button [class]="'btn-floating btn-small waves-effect waves-light amber accent-4'" (click)="deleteItem(todo)"><i [class]="'material-icons'">delete</i></button>
                </li>
            </ul>
        </div>
    </form>
</div>
